* {
	box-sizing: border-box;
	margin: 0;
}

@font-face {
  font-family: "Pacifico";
  src: url("assets/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("assets/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("assets/Poppins-Regular.ttf");
}

body {
	background: #F2F5F9;
	/*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
	padding: 10px;
}

header {
	display: flex;
	max-width: 1240px;
	height: 104px;
	padding: 44px 0px;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	flex-shrink: 0;
}

h1.judul {
	font-family: Pacifico;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#my {
	color: #EC1B09;
}

#port {
	color: #FF9C1A;
}

.container {
	max-width: 1240px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.items-container {
	flex-basis: auto;
  flex-grow: 1;
}

.profile-card {
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
	/*height: 852px;*/
	width: 32.25%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-card .foto {
	margin-top: 52px;
	width: 200px;
}

.profile-card .foto img {
	width: 100%;
	border-radius: 20px;
}

.profile-card .nama {
	color: #0B0909;
	font-family: Raleway;
	font-size: 28.42px;
	font-style: normal;
	font-weight: 700;
	line-height: 125%;
	margin-top: 14px;
	max-width: 90%;
}

.profile-card .profesi {
	color: rgba(11, 9, 9, 0.50);
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 250% ;
	margin-top: 4px;
}

.profile-card .sosmed-icons {
	margin: 6px auto;
	display: flex;
	justify-content: center;
	gap: 9px;
}

.profile-card .sosmed-icons a {
	border-radius: 8.269px;
	background: #F2F7FC;
	padding: 20.7px 25px;
}

.profile-card .sosmed-icons img {
	height: 15px;
}

.profile-card .contact-card {
	margin: 0 25px;
	margin-top: 22px;
	border-radius: 20px;
	width: 75%;
	background: #F2F5F9;
	margin-bottom: 22px;
}

.concard-items {
	border-bottom: 1px solid #E3E3E3;
	margin: 15px;
}

.concard-items {
	border-bottom: 1px solid #E3E3E3;
	margin: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.concard-items .cc-items-1 {
	display: flex;
	flex-direction: row;
}

.concard-items .cc-items-1 .detail-cc {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
}

.concard-items .cc-items-1 .detail-cc .atas {
	color: rgba(26, 16, 3, 0.50);
	font-weight: 600;
}

.concard-items .cc-items-1 .detail-cc .atas {
	color: #000;
	line-height: 20px;
}

.concard-items .gambar {
	border-radius: 8px;
	background: #F2F7FC;
	padding: 10px;
}

.concard-items .gambar img {
	height: 20px;
}

.content {
	width: 67.75%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

nav {
	border-radius: 20px;
	background: #F2F7FC;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	margin-top: 40px;
	margin-right: 60px;
	display: flex;
	flex-direction: row;
	gap: 40px;
	padding: 0 40px;
	width: fit-content;
}

.nav-items {
	border-radius: 20px;
	background: #E1E8EF;
	padding: 15px 20px;
	margin: 10px 0;
	text-decoration: none;
	color: #000;
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; /* 166.667% */
}

.nav-items.active {
	color: #FFF;
	background: #FF9C1B;
}

.nav-items div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-box {
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
	margin-left: 10px;
	margin-top: 10px;
	padding: 20px 50px;
}

.content-box h1 {
	color: #0B0909;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 100% */
	letter-spacing: 1px;
}

.content-box p {
	color: #000;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px; /* 187.5% */
	margin-top: 20px;
}

.content-box h2 {
	color: #000;
	font-family: Poppins;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px; /* 125% */
	letter-spacing: 0.8px;
	margin-top: 20px;
}

.kotak-skill .items-skill img {
	height: 24px;
}
.kotak-skill .items-skill h3 {
	color: #000;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	/*line-height: 20px; /* 83.333% */
}

.kotak-skill .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.items-skill {
	width: 47%;
	padding: 10px 20px;
	border-radius: 20px;
}

.items-skill.warna-1 {
	background: #FFEBD1;
}

.items-skill.warna-2 {
	background: #F2F7FC;;
}

.item-skill p {
	color: #000;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 142.857%; /* */
	letter-spacing: 0.35px;
}

.download-resume-box {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.download-resume-box button {
	display: inline-flex;
	padding: 10px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 20px;
	background: #FF9C1B;
	border: none;
	cursor: pointer;
}

.download-resume-box button span {
	color: #F2F7FC;
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; /* 166.667% */
}

.download-resume-box a {
	text-decoration: none;
}


@media (max-width: 900px) {
	.container {
		flex-direction: column;
	}

	.items-container {
		width: 100%;
	}

	.profile-card {
		max-width: 100%;
	}

	.container .content .content-box {
		margin-left: 0;
		width: 100% !important;
	}

	.card-contact {
		flex-direction: column !important;
	}

	nav {
		gap: 10px;
		padding: 0 20px;
	}

	nav img {
		width: 20px;
	}

	nav .nav-items {
		padding: 10px;
	} 
}